@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background:rgb(237,102,87);
}


.container {
	width: 500px;
	height: 50%;
	margin: 50px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
}

.form-group {
	margin-bottom: 20px;
}

	width: 80px;
}

.form-group button {
	position: right;
	width: 90px;
	height: 40px;
	top: 0;
	bottom: 0;
	right: 5px;
	margin: auto;
	border-radius: 3px;
}

label {
	font-weight: bold;
}

span{
	
	width: 80%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

textarea {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="button"] {
	width: 30%;
	padding: 10px;
	border-radius: 20px;
	border: none;
	background-color: rgb(240, 240, 18);
	color: #fff;
	cursor: pointer;

}

input[type="button"]:hover {
	background: rgb(253, 253, 5);
	transition: 0.5s;
}

 select {
     height: 50px; 
     width: 250px;
        }
        
          p{
        color: gray;
    }

    #button2{
        float: right;
        width: 150px;
        height: 40px;
        font-size: 15px;
        font-weight: bold;
        border: 0;
        outline: 1.5px rgb(5, 5, 5) solid;
        border-radius: 5px;
        padding-left: 10px;
        background-color: rgb(237,102,87);
        color: #fff;
        
    }
    
        #button1{
        float: center;
        width: 150px;
        height: 40px;
        font-size: 15px;
        font-weight: bold;
        border: 0;
        outline: 1.5px rgb(5, 5, 5) solid;
        border-radius: 5px;
        padding-left: 10px;
        background-color: rgb(237,102,87);
        color: #fff;
        
    }

header h1{
	text-align: center;
	text-shadow: 2px 2px 2px gray;
	margin-left: 350px;
	
}

header h6{
	text-align:center;
	margin: 0 auto;
	text-shadow: 2px 2px 2px yellow;
	
}
p{
    text-align:center;
}
#foot{
	padding: 5px 0;
	background-color: #8bdc01;
	color: #fff;
	text-align: center;
	height: 140px;

}

#foot p{
	display: inline-block;
	font-size: 12px;
	font-family: monospace;
}
#container{
	background-color: rgb(240, 248, 223);
}

  th {
        font-size: 20px; 
        
    }
        
        